<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>

        <plugin
            filename="gz-sim-joint-position-controller-system"
            name="gz::sim::systems::JointPositionController">
            <joint_name>hip_joint</joint_name>
            <use_force_commands>true</use_force_commands>
            <sub_topic>joint/hip_joint/0/cmd_pos</sub_topic>
            <p_gain>200.0</p_gain>
            <i_gain>0.0</i_gain>
            <d_gain>50.0</d_gain>
            <i_max>1</i_max>
            <i_min>-1</i_min>
            <cmd_max>100</cmd_max>
            <cmd_min>-100</cmd_min>
            <cmd_offset>0.0</cmd_offset>
            <initial_position>-0.3</initial_position>
        </plugin>

        <plugin
            filename="gz-sim-joint-position-controller-system"
            name="gz::sim::systems::JointPositionController">
            <joint_name>knee_joint</joint_name>
            <use_force_commands>true</use_force_commands>
            <sub_topic>joint/knee_joint/0/cmd_pos</sub_topic>
            <p_gain>100.0</p_gain>
            <i_gain>0.0</i_gain>
            <d_gain>10.0</d_gain>
            <i_max>1</i_max>
            <i_min>-1</i_min>
            <cmd_max>100</cmd_max>
            <cmd_min>-100</cmd_min>
            <cmd_offset>0.0</cmd_offset>
            <initial_position>0.6</initial_position>
        </plugin>
    </gazebo>

</robot>