<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <topic>model/robot/joint_states</topic>
            <joint_name>hip_joint</joint_name>
            <joint_name>knee_joint</joint_name>
        </plugin>

        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>hip_joint</joint_name>
            <use_force_commands>true</use_force_commands>
            <inital_velocity>0</inital_velocity>
            <sub_topic>joint/hip_joint/0/cmd_torque</sub_topic>
            <p_gain>1.0</p_gain>
            <i_gain>0.0</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>1</i_max>
            <i_min>-1</i_min>
            <cmd_max>100</cmd_max>
            <cmd_min>-100</cmd_min>
            <cmd_offset>0.0</cmd_offset>
        </plugin>

        <plugin
            filename="gz-sim-joint-controller-system"
            name="gz::sim::systems::JointController">
            <joint_name>knee_joint</joint_name>
            <use_force_commands>true</use_force_commands>
            <inital_velocity>0</inital_velocity>
            <sub_topic>joint/knee_joint/0/cmd_torque</sub_topic>
            <p_gain>1.0</p_gain>
            <i_gain>0.0</i_gain>
            <d_gain>0.1</d_gain>
            <i_max>1</i_max>
            <i_min>-1</i_min>
            <cmd_max>100</cmd_max>
            <cmd_min>-100</cmd_min>
            <cmd_offset>0.0</cmd_offset>
        </plugin>
    </gazebo>


    <gazebo reference="foot">
        <sensor name="contact_sensor" type="contact">
            <always_on>true</always_on>
            <update_rate>10.0</update_rate>
            <visualize>true</visualize>
            <contact>
                <collision>foot_collision</collision>
                <topic>/model/robot/contact</topic>
            </contact>
        </sensor>

        <plugin filename="gz-sim-touchplugin-system"
            name="gz::sim::systems::TouchPlugin">
            <target>collision</target>
            <time>0.001</time>
            <enabled>true</enabled>
        </plugin>
    </gazebo>
</robot>